# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Templates
templates/* text eol=lf

# Configuration files
*.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Batch files (Windows)
*.bat text eol=crlf